<div id="progress">
    <div id="progress-bar"></div>
    <ul id="progress-num">
        <li class="step active">1</li>
        <li class="step">2</li>
        <li class="step">3</li>
        <li class="step">4</li>
    </ul>
</div>
<script src="{{ asset('scripts/main.js') }}"></script>