{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <h1>Profil</h1>
    <h2>Informations personelles</h2>
    <form method="post">

    </form>

    <h2>Adresse de facturation</h2>
    <form method="post">

    </form>

{% endblock %}
