{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    {% for coup in coups == '1' %}
        <h2>{{ coup.nom }}</h2>
    {% endfor %}

{% endblock %}
